<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","templateLock":"all","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:pattern {"slug":"ciadasletras/hero"} /-->

	<!-- wp:pattern {"slug":"ciadasletras/recent-carousel"} /-->

	<!-- wp:pattern {"slug":"ciadasletras/selections-carousel"} /-->

	<!-- wp:pattern {"slug":"ciadasletras/radio-carousel"} /-->

	<!-- wp:pattern {"slug":"ciadasletras/most-read-carousel"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
