<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"cdl-post-page","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group cdl-post-page" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:group {"align":"wide","className":"cdl-post-wide"} -->
	<div class="wp-block-group alignwide cdl-post-wide">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:template-part {"slug":"post-meta"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"wide","className":"cdl-post-wide"} /-->

	<!-- wp:post-terms {"term":"post_tag","align":"wide","className":"cdl-post-wide cdl-post-tags","separator":" ","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
