<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"cdltheme/cdl-home-hero"} /-->
	<!-- wp:pattern {"slug":"cdltheme/cdl-home-latest-carousel"} /-->
	<!-- wp:pattern {"slug":"cdltheme/cdl-home-selections-carousel"} /-->
	<!-- wp:pattern {"slug":"cdltheme/cdl-home-radio-carousel"} /-->
	<!-- wp:pattern {"slug":"cdltheme/cdl-home-most-read"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
